<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backGroundImage</key>
	<string>Type4</string>
	<key>imageName</key>
	<array>
		<string>Type4_1</string>
		<string>Type4_2</string>
	</array>
	<key>imageRect</key>
	<array>
		<string>{{110, 495}, {902, 705}}</string>
		<string>{{171, 0}, {900, 659}}</string>
	</array>
</dict>
</plist>
