<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backGroundImage</key>
	<string>Type17</string>
	<key>imageName</key>
	<array>
		<string>Type17_1</string>
		<string>Type17_2</string>
		<string>Type17_3</string>
	</array>
	<key>imageRect</key>
	<array>
		<string>{{60, 614}, {1110, 556}}</string>
		<string>{{586, 20}, {556, 556}}</string>
		<string>{{20, 58}, {518, 518}}</string>
	</array>
</dict>
</plist>
