<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backGroundImage</key>
	<string>Type5</string>
	<key>imageName</key>
	<array>
		<string>Type5_1</string>
		<string>Type5_2</string>
	</array>
	<key>imageRect</key>
	<array>
		<string>{{100, 100}, {500, 1000}}</string>
		<string>{{600, 100}, {500, 1000}}</string>
	</array>
</dict>
</plist>
