<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backGroundImage</key>
	<string>Type1</string>
	<key>imageName</key>
	<array>
		<string>Type1_1</string>
		<string>Type1_2</string>
	</array>
	<key>imageRect</key>
	<array>
		<string>{{60, 180}, {480, 960}}</string>
		<string>{{660, 60}, {480,960}}</string>
	</array>
</dict>
</plist>
