<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backGroundImage</key>
	<string>Type13</string>
	<key>imageName</key>
	<array>
		<string>Type13_1</string>
		<string>Type13_2</string>
		<string>Type13_3</string>
	</array>
	<key>imageRect</key>
	<array>
		<string>{{0, 0}, {1200, 678}}</string>
		<string>{{0, 570}, {590,600}}</string>
		<string>{{610, 570}, {590, 600}}</string>
	</array>
</dict>
</plist>
