<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backGroundImage</key>
	<string>Type19</string>
	<key>imageName</key>
	<array>
		<string>Type19_1</string>
		<string>Type19_2</string>
		<string>Type19_3</string>
	</array>
	<key>imageRect</key>
	<array>
		<string>{{320, 30}, {560, 380}}</string>
		<string>{{150, 410}, {900,330}}</string>
		<string>{{20, 740}, {1160, 330}}</string>
	</array>
</dict>
</plist>
